/*Esta hoja de estilos pertenece a los archivos html con los idiomas alemán, inglés, español e italiano*/

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&display=swap');

/* CSS reset */

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

body {
  background: url(assets/freedom.jpg) no-repeat center center fixed;
  background-size: cover;
}

.frase {
  width: 80%;
  margin: 5% auto;
  font-size: 110%;
  font-weight: bold;
  line-height: 1.6;
  font-family: 'Julius Sans One', sans-serif;
  text-align: center;
}

.autor {
  font-weight: bold;
  font-family: 'Crimson Text', serif;
  text-align: center;
}

ul {
  list-style: none;
  margin-top: 190px;
}

nav li {
  width: 100%;
  padding: 5px 10px;
  background-color: #000;
  border: 1px solid #000;
  text-align: center;
  color: white;
  margin-top: 10px;
}

a {
  display: block;
  /*Permite que toda el área del enlace sea clicable*/
  color: white;
  text-decoration: none;
}

span,
a {
  font-size: 180%
}

span {
  color: cyan;
}